@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('./settingSwtiches.css');

.settings-button:active {
    opacity: 100%;
}

/* Container for settings */
#settings-container {
    position: fixed;
    height: 100vh; /* fallback */
    height: calc(var(--vh, 1vh) * 100 - 36px);
    width: 400px;
    margin: 18px 18px 18px 18px;
    top: 0;
    left: -418px;
    font-family: Roboto, sans-serif;
}

/* First settings header (Settings) */
#settings-container h1 {
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 1.8em;
}

/* Three subheaders in settings */
#settings-container h2 {
    font-size: 20px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-bottom: 4px;
    border-bottom: 1px solid black;
}

/* Container and positioning for everything in settings */
#settings-pane {
    box-sizing: border-box;
    height: auto;
    border-radius: 8px;
    padding: 24px 36px 24px 36px;
    background: var(--pink-grad);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    justify-items: flex-start;
    justify-content: space-between;
    min-height: 680px;
}

/* Subcontainers in settings */
.settings-box {
    height: 20%;
    width: 100%;
    padding: 12px 12px 12px 12px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 0 10px 0 var(--black-a3);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
    justify-items: flex-start;
    justify-content: space-between;
    margin-bottom: 5px;
}

/* First box in settings */
#information{
    height: initial;
}

/* SEcond box in settings */
#tutorial{
    height: initial;
}

/* third box in settings */
#accessibility-overview {
    height: initial;
}

/* Accessibility options positioning */
.settings-row {
    display:flex;
    flex-direction: row;
    align-items:center;
    align-content:center;
    justify-content: space-between;
    margin-bottom: 5px;
}

#explanation-text {
    line-height: 200%;
}

#tutorial-text {
    line-height: 200%;
}

/* All Settings button positioning, size, color, etc */
.settings-button {
    position: fixed;
    bottom: 20px;
    right: 30px;
    width: 40px;
    height: 40px;
    background: var(--white-a1);
    border-radius: 15px;
    border: 0;
}

.settings-button:hover:enabled {
    background: var(--white-a2);
}

.settings-button:active {
    opacity: 100%;
}

#settings-open-button {
    display: flex;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
}

#settings-close-button {
    position: absolute;
    top: 12px;
    left: 12px;
    width: 29px;
    height: 30px;
    background: var(--white-a1);
    box-shadow: 0 0 10px 0 var(--black-a3);
    border-radius: 16px;
    outline: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#settings-close-button:hover {
    background: var(--white-a3);
}

#settings-close-button:active {
    background: var(--white-a1);
}

#settings-close-button:focus {
    outline: 0;
}

#settings-close-button:focus:not(:focus-visible) {
    outline: 0;
}

#settings-close-button:focus-visible {
    box-shadow: black 0 0 0 2px;
}

#work-text {
    color: #DB2E2E;
}

#break-text {
    color: #34DBB3;
}

/* Responsive design for smaller screens */
@media only screen and (max-width: 814px) {
    #settings-container {
        height: 100vh; /* fallback */
        height: calc(var(--vh, 1vh) * 100 - 36px);
        width: calc(100vw - 36px);
        margin: 18px 18px 18px 18px;
        left: calc(-100vw + -18px);
    }

    #settings-container h2 {
        margin-top: 4px;
        padding-bottom: 4px;
    }

    #settings-pane {
        padding: 16px 32px 16px 32px;
    }

    .settings-button {
        width: 80px;
        height: 80px;
    }

    .settings-button img {
        width: 60px;
        height: 60px;
    }
}

/* Responsive design for mobile */
@media only screen and (max-width: 480px) {
    #settings-container {
        height: 100vh; /* fallback */
        height: calc(var(--vh, 1vh) * 100 - 16px);
        width: calc(100vw - 16px);
        margin: 8px 8px 8px 8px;
        left: calc(-100vw + -8px);
    }

    #settings-pane {
        padding: 12px 24px 12px 24px;
    }

    .settings-button {
        bottom: 10px;
        right: 12px;
        width: 40px;
        height: 40px;
    }

    .settings-button img {
        width: 30px;
        height: 30px;
    }
}

#settings-container.slide-open-settings {
    animation: slide-left-out 0.5s ease-out forwards;
}
#settings-container.slide-close-settings {
    animation: slide-left-in 0.5s ease-out forwards;
}

.center-container.slide-open-settings {
    animation: slide-center-out-settings 0.5s ease-out forwards;
}
.center-container.slide-close-settings {
    animation: slide-center-in-settings 0.5s ease-out forwards;
}
.center-container.slide-across-right {
    animation: slide-across-right 0.5s ease-out forwards;
}
.center-container.slide-across-left {
    animation: slide-across-left 0.5s ease-out forwards;
}

.break-message.slide-open-settings {
    animation: slide-center-out-settings 0.5s ease-out forwards;
}
.break-message.slide-close-settings {
    animation: slide-center-in-settings 0.5s ease-out forwards;
}
.break-message.slide-across-right {
    animation: slide-across-right 0.5s ease-out forwards;
}
.break-message.slide-across-left {
    animation: slide-across-left 0.5s ease-out forwards;
}


/* Animations for settings and stats */
@keyframes slide-left-out {
    to { left: 0 }
}

@keyframes slide-left-in {
    from { left: 0 }
}

@keyframes slide-center-out-settings {
    from { transform: translate(0, 0) }
    to { transform: translate(15vw, 0) }
}

@keyframes slide-center-in-settings {
    from { transform: translate(15vw, 0) }
    to { transform: translate(0, 0) }
}

@keyframes slide-across-right {
    from { transform: translate(-15vw, 0) }
    to { transform: translate(15vw, 0) }
}

@keyframes slide-across-left {
    from { transform: translate(15vw, 0) }
    to { transform: translate(-15vw, 0) }
}
