#stats-container {
    position: fixed;
    height: calc(100vh - 36px);
    width: 400px;
    margin: 18px 18px 18px 18px;
    top: 0;
    right: -418px;
    font-family: Roboto;
}

#stats-container.slide-open {
    animation: slide-right-out 0.5s ease-out forwards;
}
#stats-container.slide-close {
    animation: slide-right-in 0.5s ease-out forwards;
}

#stats-container h1 {
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 1.8em;
}

#stats-container h2 {
    margin-top: 8px;
    margin-bottom: 8px;
    padding-bottom: 4px;
    border-bottom: 1px solid black;
}

#stats-pane {
    box-sizing: border-box;
    height: 100%;
    border-radius: 8px;
    padding: 24px 48px 24px 48px;
    background: var(--pink-grad);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    justify-items: flex-start;
    justify-content: space-around;
}

#stats-overview {
    flex-basis: 35%;
    min-height: 240px;
}

.stats-box {
    height: 20%;
    width: 100%;
    padding: 12px 12px 12px 12px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px var(--black-a3);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
    justify-items: flex-start;
    justify-content: flex-start;
}

.stats-flex {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: center;
    justify-content: space-between;
}

.stats-row {
    display:flex;
    flex-direction: row;
    align-items:center;
    align-content:center;
    justify-content: space-between;
}

.stats-row div:nth-child(2) {
    font-weight: bolder;
}

.stats-button {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 80px;
    height: 80px;
    background: var(--white-a1);
    border-radius: 15px;
    border: 0;
}

.stats-button:hover {
    opacity: 90%;
}

.stats-button:active {
    opacity: 100%;
}

#stats-open-button {
    display: flex;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
}

#stats-close-button {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 29px;
    height: 30px;
    background: var(--white-a1);
    box-shadow: 0px 0px 10px 0px var(--black-a3);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#stats-close-button:hover {
    background: var(--white-a3);
}

#stats-close-button:active {
    background: var(--white-a1);
}

#stats-close-button:focus {
    outline: 0;
}

#stats-close-button:focus:not(:focus-visible) {
    outline: 0;
}

#stats-close-button:focus-visible {
    box-shadow: black 0px 0px 0px 2px;
}

#weekly-graph {
    width: 100%;
}

@media only screen and (max-width: 800px) {
    #stats-container {
        height: calc(100vh - 36px);
        width: calc(100vw - 36px);
        margin: 18px 18px 18px 18px;
        right: calc(-100vw + -18px);
    }

    #weekly-graph {
        width: calc(100vw - 100px);
    }

    #stats-overview {
        min-height: calc(75vw - 100px);
    }
    
    #stats-container h2 {
        margin-top: 4px;
        padding-bottom: 4px;
    }

    #stats-pane {
        padding: 16px 32px 16px 32px;
        min-height: calc(75vw + 400px);
    }

    .stats-button {
        width: 80px;
        height: 80px;
    }

    .stats-button img {
        width: 60px;
        height: 60px;
    }
}

@media only screen and (max-width: 480px) {
    #stats-container {
        height: calc(100vh - 16px);
        width: calc(100vw - 16px);
        margin: 8px 8px 8px 8px;
        right: calc(-100vw + -8px);
    }

    #stats-pane {
        padding: 12px 24px 12px 24px;
    }

    .stats-button {
        top: 12px;
        right: 12px;
        width: 80px;
        height: 80px;
    }   
}