name: JSDoc

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        
      - name: Build
        uses: andstor/jsdoc-action@v1
        with:
          source_dir:  ./source
          output_dir:  ./out
